*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
	background-color: #ffccff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0 10px;
	height: 80px;	
}
header h1{
	color: #fff;
}
.topics{
	padding:"0 10px";
}
.topic{
	display: flex;
	padding:5px 0;
}
.topic img{
	width: 40px;
	height:40px;
	border-radius: 50%;
	margin-right: 10px;
	border:1px solid #eee;
	flex-shrink: 0;
}
.topic>div{
	flex-grow: 1;
	overflow: hidden;
	white-space: nowrap;
}
.topic:nth-child(odd)
{
background:#fff;
}
.topic:nth-child(even)
{
background:#f5f5f5;
}
.topic>div>h3{
	text-overflow: ellipsis;
	overflow: hidden; 
}
.topic>div .tabs{
	background: #00bb00;
	padding:0 5px;
	margin-right: 10px;
	border-radius: 2px;
	color:#fff;
}
.ant-back-top{
  right:45px !important;
}
.topic-topic{
	display: flex;
	justify-content: center;
	align-items: center;
	padding:8px 0;
	border-bottom: 1px solid #3ba0e9;
	margin-bottom: 5px;
	font-size: 15px;
}

/* 文章样式*/
.topic-content{
	line-height: 1.7;
}
.topic-content img{
	width: 100%;
}
.topic-a{
	display:flex;
	border-bottom: 1px solid #ccccff;
	padding: 4px 0;
}
.topic-right{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-left: 10px;
}
.topic-up{
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	padding-right: 10px;

}